- content_for :title, t('pages.presences.list.title')

.row
  .col-md-12
    .portlet.light.portlet-fit.calendar
      .portlet-body
        #calendar.has-toolbar.fc.fc-ltr.fc-unthemed
          .fc-toolbar
            .fc-left
              %h2= l @current_month, format: :month
            .fc-right
              .fc-button-group
                = link_to presences_path(month: (@current_month.beginning_of_month - 1.month).strftime("%Y-%m-01")), class: 'fc-prev-button fc-button fc-state-default fc-corner-left' do
                  %span.fc-icon.fc-icon-left-single-arrow

                = link_to presences_path(month: (@current_month.beginning_of_month + 1.month).strftime("%Y-%m-01")), class: 'fc-next-button fc-button fc-state-default' do
                  %span.fc-icon.fc-icon-right-single-arrow
            .fc-center
            .fc-clear
          .fc-view-container
            .fc-view.fc-month-view.fc-basic-view
              = calendar_for @presences, first_day_of_week: 1, year: @current_month.year, month: @current_month.month, html: { class: "table table-bordered calendar" } do |calendar|
                = calendar.head(t('date.abbr_day_names')[1], t('date.abbr_day_names')[2], t('date.abbr_day_names')[3], t('date.abbr_day_names')[4], t('date.abbr_day_names')[5], t('date.abbr_day_names')[6], t('date.abbr_day_names')[0])

                = calendar.day(day_method: :present_at, class: 'fc-day fc-widget-content') do |date, presences|
                  = date.day
                  - if date.month == @current_month.month
                    %a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end
                      - if presences.count > 0
                        .fc-content
                          %span.fc-title= t('pages.presences.list.labels.presence', count: presences.count)
