= simple_form_for @user do |f|
  .row
    .col-md-6= f.error_notification

  .row
    .col-md-6
      .portlet.light
        .portlet-title
          .caption.font-green
            %i.icon-bubble.font-green
            %span.caption-subject.bold.uppercase= t 'pages.users.form.labels.personal'
        .portlet-body.form
          .form-body
            .row
              .col-md-6= f.input :first_name
              .col-md-6= f.input :last_name
            .row
              .col-md-6= f.input :birth_date, as: :string, input_html: { class: 'date-picker', value: @user.birth_date ? l(@user.birth_date) : nil }
              .col-md-6= f.input :sex, prompt: :translate
            .row
              .col-md-12= f.input :email
            .row
              .col-md-6= f.input :phone_number, as: :tel
            %hr
            .row
              .col-md-12= f.input :address
            .row
              .col-md-3= f.input :postalcode
              .col-md-9= f.input :city
            .row
              .col-md-12= f.input :country, prompt: :translate, input_html: { class: 'live' }
          .form-actions.hidden-xs.hidden-sm
            = f.button :submit, class: 'green'
            - if !@user.email.blank? && @user != current_user
              .pull-right
                = invite_tag invite_user_path(@user), @user.name

    .col-md-6
      .portlet.light
        .portlet-title
          .caption.font-green
            %i.icon-bubble.font-green
            %span.caption-subject.bold.uppercase= t 'pages.users.form.labels.club'
        .portlet-body.form
          .row
            .col-md-6
              = f.input :active
          %hr
          .row
            .col-md-6= f.input :category, prompt: :translate
            .col-md-6= f.input :type, prompt: :translate
          .row
            .col-md-6= f.input :rankings, prompt: :translate
          %hr
          .row
            .col-md-12= f.input :comments, input_html: { rows: 4 }

    .col-md-6
      .portlet.light
        .portlet-title
          .caption.font-green
            %i.icon-bubble.font-green
            %span.caption-subject.bold.uppercase= t 'pages.users.form.labels.website'
        .portlet-body.form
          .row
            .col-md-6= f.input :role, prompt: :translate, disabled: @user == current_user
          .row
            .col-md-12
              - if @user.confirmed_at?
                %p= t('pages.users.form.labels.confirmed_at', time: content_tag(:strong, time_ago_in_words(@user.confirmed_at))).html_safe
              - else
                %p= t 'pages.users.form.labels.unconfirmed'
          .form-actions.visible-xs.visible-sm
            = f.button :submit, class: 'green'
            - if !@user.email.blank? && @user != current_user
              .pull-right
                = invite_tag invite_user_path(@user), @user.name

:javascript
  $('.enum').selectpicker({
    size: 5,
    selectOnTab: true
  });

  $('.live').selectpicker({
    liveSearch: true,
    selectOnTab: true,
    size: 5
  });

  $(".date-picker").datepicker({
    orientation: "left",
    autoclose: true,
    format: "dd/mm/yyyy"
  });
