= simple_form_for @user do |f|
  .row
    .col-md-6= f.error_notification

  .row
    .col-md-6
      .portlet.light
        .portlet-title
          .caption.font-green
            %i.icon-bubble.font-green
            %span.caption-subject.bold.uppercase Persoonlijke gegevens
        .portlet-body.form
          .form-body
            .row
              .col-md-6= f.input :first_name
              .col-md-6= f.input :last_name
            .row
              .col-md-6= f.input :birth_date, as: :string
              .col-md-6= f.input :sex, prompt: :translate
            .row
              .col-md-12= f.input :email
            .row
              .col-md-6= f.input :phone_number
            %hr
            .row
              .col-md-12= f.input :address
            .row
              .col-md-3= f.input :postalcode
              .col-md-9= f.input :city
            .row
              .col-md-12= f.input :country, prompt: :translate
          .form-actions
            = f.button :submit, class: 'green'

    .col-md-6
    .col-md-6
      .portlet.light
        .portlet-title
          .caption.font-green
            %i.icon-bubble.font-green
            %span.caption-subject.bold.uppercase Website gegevens
        .portlet-body.form
          .row
            .col-md-6= f.input :active
          .row
            .col-md-12= f.input :comments, input_html: { rows: 4 }

    .col-md-6
      .portlet.light
        .portlet-title
          .caption.font-green
            %i.icon-bubble.font-green
            %span.caption-subject.bold.uppercase Club gegevens
        .portlet-body.form
          .row
            .col-md-6= f.input :category, prompt: :translate
            .col-md-6= f.input :type, prompt: :translate
          .row
            .col-md-6= f.input :rankings, prompt: :translate
