- content_for :title, t('pages.users.list.title')
- if can? :manage, @user
  - content_for :toolbar do
    = add_tag new_user_path, 'user-plus'

.row.listing
  .col-md-12
    .portlet.light
      .portlet-title
        .caption.font-green
          %i.fa.fa-list.font-green
          = t 'pages.users.list.labels.overview'
      .portlet-body
        .table-responsive
          %table.table.table-striped.table-bordered.dataTable
            %thead
              %tr
                = sort_tag 'first_name', t('pages.users.list.labels.name')
                = sort_tag 'city', t('pages.users.list.labels.city')
                = sort_tag 'active', t('pages.users.list.labels.active'), style: 'width: 5em;'
                = sort_tag 'sex', t('pages.users.list.labels.sex'), style: 'width: 5em;'
                = sort_tag 'birth_date', t('pages.users.list.labels.age'), style: 'width: 5em;'
                %th{ style: 'width: 19em;' }
            %tbody
              - @users.each do |user|
                %tr{ class: user.active? ? nil : 'inactive' }
                  %td= user.name
                  %td= user.city
                  %td= active_tag user
                  %td= sex_tag user
                  %td= user.age
                  %td
                    - if can? :manage, User
                      = edit_tag edit_user_path(user)
                      - unless user == current_user
                        = delete_tag user, user.name
                    - else
                      = show_tag user

          .pull-right= paginate @users, theme: 'twitter-bootstrap-3'
