= simple_form_for(resource, as: resource_name, url: password_path(resource_name), wrapper: 'login_form', html: { method: :put }) do |f|
  = f.input :reset_password_token, as: :hidden

  %h3.form-title.font-green Change your password
  - if resource.errors.count > 0
    .alert.alert-danger
      - resource.errors.full_messages.each do |message|
        %span= message

  = f.input :password, required: false, autocomplete: false, autofocus: true, placeholder: 'New password'
  = f.input :password_confirmation, required: false, autocomplete: false, placeholder: 'Confirm your new password'

  .form-actions
    = f.button :submit, "Change my password", class: 'green uppercase'
    = link_to 'Log in', new_session_path(resource_name), class: 'forget-password'
