%p= t 'mail.reset_password_instructions.title', name: @resource.email
%p= t 'mail.reset_password_instructions.request_text'
%p= link_to t('mail.reset_password_instructions.reset_link'), edit_password_url(@resource, reset_password_token: @token)
%p= t 'mail.reset_password_instructions.ignore_text'
%p= t 'mail.reset_password_instructions.footer'
