.page-container
  .page-content-wrapper
    - if yield(:title).present?
      .page-head
        .container
          .page-title
            %h1
              = yield :title
              - if yield(:subtitle).present?
                %small= yield :subtitle
          - if yield(:toolbar).present?
            .page-toolbar
              .btn-toolbar
                = yield :toolbar

    .page-content
      .container
        .page-content-inner
          .row
            .col-md-6= flash_tag
          = yield
