!!!
/[if IE 8] <html lang="en" class="ie8">
/[if IE 9] <html lang="en" class="ie9">
/ [if !IE]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{ charset: "utf-8" }

    %title= t 'global.title'

    %meta{ content: "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{ content: "The web application for Thai Ko Gym.", name: "description"}
    %meta{ content: "Jelle Vandebeeck", name: "author"}

    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.page-container-bg-solid
    = render partial: 'layouts/navigation'
    = render partial: 'layouts/content'
    = render partial: 'layouts/footer'
